# ignore all...
*

# ... except these files
!README.md
!.gitignore
!scripts/main.py
!scripts/run.py
!scripts/makeCube.py
!scripts/adjust_background.py
!sextractor_input
!scripts/mk_sextractor_catalog.py
